

  h1 {
    color: #fbfdfd;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 0;
  }

  ul {
    color: #fbfdfd;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;  
}
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

li:first.letter {
    text-transform: capitalize;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #fbfdfd;
    padding: 0;
}

.description {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 40px auto;
}
.weather-app {
    padding:20px;
    border-radius: 10px;
    background: linear-gradient(-45deg,#ce4624, #db5938, #f5866a, #f1967f, #f1c386);
    background-size: 400% 400%;
    animation: change 15s ease-in-out infinite;
  }

  @keyframes change {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

.overview {
margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    font-family: 'Roboto', sans-serif;
    color: #fbfdfd;
    font-size: 64px;
    font-weight: 500;
    line-height: 1;
}

.weather-temperature .units {
    color: #fbfdfd;
    position: relative;
    font-size: 14px;
    top: -34px;
}

.city-input {
    border: none;
    border-radius: 5px;
    padding: 5px 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.search-btn {
    border: none;
    position: relative;
    left: -44px;
    bottom:-2px;
}

.current-location-btn  {
    color: #fbfdfd;
    background-color: #F36A47;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    position: relative;
    left: -64px;
}

.current-location-btn:hover {
   color: #fbfdfd;
   background-color: #db5938;
}

.celsius {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #F36A47;
    cursor: default;
 }

 .celsius:hover {
    color: #F36A47;
    text-decoration: none;
 }

 .fahrenheit {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #F36A47;
    cursor: default;
 }

 .fahrenheit:hover {
    color: #F36A47;
    text-decoration: none;
 }

 .active {
    font-family: 'Roboto', sans-serif;
    color: : 16px;
    color: #fbfdfd;
    cursor: default;
 }
 

 .github-link {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 12px;
    margin-left: 5px;
}

.weather-forecast {
    margin-top: 10px;
    margin-bottom: 10px;
  }

.weather-forecast h3 {
    font-family: 'Roboto', sans-serif;
    color: #fbfdfd;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 7px;
  }

.weather-forecast img {
    display: block;
    margin: 0 auto;
    height: 48px;
    width: 48px;
  }

.weather-forecast-temperature {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:  #fbfdfd;
    font-size: 14px;
    font-weight: 300;
    height: auto;
    line-height: 15px;
    white-space: nowrap;
